[site]
domain = _SITE_DOMAIN_
host   = _SITE_URL_WITH_HTTP_

[templates]
path     = /tpl
path_f   = /tpl-front

[data]
bread_path  = /data/breadcrumbs
navi_path   = /data/navi
html_path   = /html
images_path = /img
images_path2 = /img2
img_maxw_la = 800
img_maxh_la = 800
img_maxw_sm = 80
img_maxh_sm = 80

[bkp]
path    = /bkp

[admin]
user    = _WEBUI_USER_
pass    = _WEBUI_PASS_

[mysql]
db_name = _MARIADB_DATABASE_
user    = _MARIADB_USER_
pass    = _MARIADB_PASS_

[session]
cookie_ttl  = 3600
otp_ttl     = 900

# Port for TLS/STARTTLS: 587
[mail]
debug = 1
host  = smtp.gmail.com
port  = 465
ssl   = 1
user  = _YOUR_SENDER_EMAIL_
pass  = _YOUR_DEVICE_PASS_
